# ----------------------------------------------------------------------------------------------------------------------------------------------------
# Settings
# ----------------------------------------------------------------------------------------------------------------------------------------------------
# Check module environment
before_script:
  - ulimit -s unlimited
  - module list || true
  - python3 -V  || true
  - unset CMAKE_GENERATOR

# ----------------------------------------------------------------------------------------------------------------------------------------------------
# Stages
# ----------------------------------------------------------------------------------------------------------------------------------------------------
stages:
  - lint
  - setup
  - reggie_checkin
  - reggie_nightly
  - reggie_weekly
  - python
  - documentation
  - deploy

# ----------------------------------------------------------------------------------------------------------------------------------------------------
# Templates ("hidden jobs")
# ----------------------------------------------------------------------------------------------------------------------------------------------------
# Default parameters for the build and testing stage
.default_build_param: &default_build_param
  tags: [flexitag]
  artifacts:
    name: "${CI_PIPELINE_ID}-${CI_COMMIT_REF_NAME}-${CI_JOB_NAME}"
    expire_in: 1 day
    when: on_failure

.default_python_param: &default_python_param
  tags: [dockertag]
  image: registry.iag.uni-stuttgart.de/flexi/flexi/nrg-fedora_41-x86_64
  variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  cache:
    paths:
      - venv
      - .cache/pip
  before_script:
    - ulimit -s unlimited
    - python3 --version
    # Setup Python virtual environment
    - rm -rf venv
    - uv venv venv
    - source venv/bin/activate
    # Install coverage
    # - uv pip install --no-cache-dir coverage

# ----------------------------------------------------------------------------------------------------------------------------------------------------
# Default parameters for the reggie stage
.default_param: &default_param
  <<: *default_build_param
  allow_failure: false

.default_python: &default_python
  <<: *default_python_param
  allow_failure: false

.reggie_cache: &reggie_cache
  key: "reggie"
  paths: [reggie]
  policy: pull

# ----------------------------------------------------------------------------------------------------------------------------------------------------
# Defaults for the standard tests (utilizing "extends" to merge the other "artifacts" options with the specific path)
.defaults: &defaults
  extends: .default_param
  needs: [build]
  artifacts:
    paths: [build]
  cache:
    - *reggie_cache
    - key: "${CI_COMMIT_REF_SLUG}"
      paths: [build]
      policy: pull
  variables:
    FF_ENABLE_JOB_CLEANUP: 1

.defaults_python: &defaults_python
  extends: .default_python
  variables:
    FF_ENABLE_JOB_CLEANUP: 1

.defaults_nightly: &defaults_nightly
  <<: *defaults
  rules:
    - if: '$DO_NIGHTLY'

.defaults_weekly: &defaults_weekly
  <<: *defaults
  rules:
    - if: '$DO_WEEKLY'

# ----------------------------------------------------------------------------------------------------------------------------------------------------
# Stage "lint": Run the linters
# ----------------------------------------------------------------------------------------------------------------------------------------------------
fortitude:
  <<: *defaults_python
  stage: lint
  script:
    - fortitude --version
    - fortitude check --output-format=grouped src

ruff:
  <<: *defaults_python
  stage: lint
  script:
    - ruff --version
    - ruff check --extend-ignore=E201,E202,E203,E221,E222,E225,E231,E271,E272 --line-length=132 --preview docs tools

# ----------------------------------------------------------------------------------------------------------------------------------------------------
# Stage "setup": Setup the reggie environment
# ----------------------------------------------------------------------------------------------------------------------------------------------------
reggie_download:
  extends: .default_build_param
  artifacts:
    paths: [reggie]
  cache:
    key: "reggie"
    paths: [reggie]
    policy: push
  stage: setup
  script:
    - git clone https://github.com/piclas-framework/reggie2.0.git reggie

# ----------------------------------------------------------------------------------------------------------------------------------------------------
# Stage "reggie_checkin": Run most simple reggie with previous builds on check-in
# ----------------------------------------------------------------------------------------------------------------------------------------------------
build:
  extends: .default_build_param
  needs: [reggie_download]
  artifacts:
    paths: [build]
  cache:
    key: "${CI_COMMIT_REF_SLUG}"
    paths: [build]
    policy: push
  stage: reggie_checkin
  script:
    - mkdir -p build
    - cd build
    - cmake .. -DLIBS_BUILD_HDF5=OFF
    - make -j 6

checkin:
  <<: *defaults
  stage: reggie_checkin
  needs: [build]
  script:
    - cd build
    - python ../reggie/reggie.py ../regressioncheck/checks/run_basic/freestream_3D -j 6 -e ./bin/flexi

# ----------------------------------------------------------------------------------------------------------------------------------------------------
# Stage "reggie_nightly": Build and run
#                         - build all specified compile options in "run_basic" with LIBS_BUILD_HDF5=ON
#                         - h-p-convtests
#                         - parabolic testcases
#                         - riemann solver tests
# ----------------------------------------------------------------------------------------------------------------------------------------------------
build_all:
  <<: *defaults_nightly
  stage: reggie_nightly
  script:
    - cd build
    - python ../reggie/reggie.py ../regressioncheck/checks/run_basic -j 6

timediscs:
  <<: *defaults_nightly
  stage: reggie_nightly
  script:
    - cd build
    - python ../reggie/reggie.py ../regressioncheck/checks/timedisc -j 6

convtest:
  <<: *defaults_nightly
  stage: reggie_nightly
  script:
    - cd build
    - python ../reggie/reggie.py ../regressioncheck/checks/convtest -j 6

parabolic:
  <<: *defaults_nightly
  stage: reggie_nightly
  script:
    - cd build
    - python ../reggie/reggie.py ../regressioncheck/checks/parabolic -j 6

riemann:
  <<: *defaults_nightly
  stage: reggie_nightly
  script:
    - cd build
    - python ../reggie/reggie.py ../regressioncheck/checks/riemann -j 6

# ----------------------------------------------------------------------------------------------------------------------------------------------------
# Stage "reggie_weekly": Build and run more complex tests, basically complete simulatons
# ----------------------------------------------------------------------------------------------------------------------------------------------------
tgv:
  <<: *defaults_weekly
  stage: reggie_weekly
  script:
    - cd build
    - python ../reggie/reggie.py ../regressioncheck/checks/tgv -j 6

naca:
  <<: *defaults_weekly
  stage: reggie_weekly
  script:
    - cd build
    - python ../reggie/reggie.py ../regressioncheck/checks/naca -j 6

fv_switch:
  <<: *defaults_weekly
  stage: reggie_weekly
  script:
    - cd build
    - python ../reggie/reggie.py ../regressioncheck/checks/fv_switch -j 6

fv_blend:
  <<: *defaults_weekly
  stage: reggie_weekly
  script:
    - cd build
    - python ../reggie/reggie.py ../regressioncheck/checks/fv_blend -j 6

channelRANS:
  <<: *defaults_weekly
  stage: reggie_weekly
  script:
    - cd build
    - python ../reggie/reggie.py ../regressioncheck/checks/channelRANS -j 6

imperator:
  <<: *defaults_weekly
  stage: reggie_weekly
  script:
    - cd build
    - python ../reggie/reggie.py ../regressioncheck/checks/preconditioner -j 6

# ----------------------------------------------------------------------------------------------------------------------------------------------------
# Stage "documentation": Creates doxygen documentation & compiles the documentation creating the *.pdf
# ----------------------------------------------------------------------------------------------------------------------------------------------------
documentation:
  extends: .default_build_param
  stage: documentation
  rules:
    - if: '$DO_DEPLOY'
    - if: '$DO_WEEKLY'
  script:
    - cd docs/doxygen
    - ./builddoxy.sh
  artifacts:
    paths:
      - src
      - docs/doxygen
  cache:
    key: "${CI_COMMIT_REF_SLUG}-DOC"
    paths: [docs/doxygen]
    policy: push

userguide:
  extends: .default_build_param
  stage: documentation
  rules:
    - if: '$DO_DEPLOY'
    - if: '$DO_WEEKLY'
  script:
    - cd docs/documentation
    - python3 -m pip install --exists-action=w --no-cache-dir -r requirements.txt
    - python3 -m sphinx -T -E -b html -d _build/doctrees -D language=en . _build/html
    - ls -l _build/html
    - python3 -m sphinx -b latex -D language=en -d _build/doctrees . _build/latex
    - ls -l _build/latex
    - cd _build/latex
    - latexmk -r latexmkrc -pdf -f -dvi- -ps- -jobname=flexi -interaction=nonstopmode || true
    - ls -l
    - ls -l flexi.pdf
  artifacts:
    paths:
      - docs/documentation
  cache:
    key: "${CI_COMMIT_REF_SLUG}-USERGUIDE"
    paths: [docs/documentation]
    policy: push

# ----------------------------------------------------------------------------------------------------------------------------------------------------
# Stage "deploy": Copies the doxygen documentation and userguide *.pdf to the homepage server & copies the repository to github
# ----------------------------------------------------------------------------------------------------------------------------------------------------
homepage:
  extends: .default_build_param
  stage: deploy
  rules:
    - if: '$DO_DEPLOY && $CI_SERVER_URL =~ /.*\.iag\.uni-stuttgart\.de$/'
  cache:
    - key: "${CI_COMMIT_REF_SLUG}-USERGUIDE"
      paths: [docs/documentation]
      policy: pull
  variables:
    FF_ENABLE_JOB_CLEANUP: 1
  script:
    - rsync --recursive --delete docs/documentation/_build/latex/flexi.pdf webserver:nrg.git/nrg_website/NRG/userguide/pdf/userguide.pdf
    - rsync --recursive --delete docs/documentation/_build/html/*          webserver:nrg.git/nrg_website/NRG/userguide/html/.

github:
  extends: .default_build_param
  stage: deploy
  rules:
    - if: '$DO_DEPLOY && $CI_SERVER_URL =~ /.*\.iag\.uni-stuttgart\.de$/'
  variables:
    FF_ENABLE_JOB_CLEANUP: 1
  script:
    - git clone --single-branch git@gitlab.iag.uni-stuttgart.de:flexi/flexi.git flexi_github
    - cd flexi_github
    - git push --mirror git@github.com:flexi-framework/flexi.git
