*.cgns
*.dat
*.i90
*.mod
*.msh
*.neu
*.o
*.out
*.pvd
*.pyc
*.s
*.swp
*.txt
*.vtk
*.vtu
*.xdmf

src/deplist.mk
src/preprocflags.f90
src/srcfiles_pp.mk
src/lib*.a
bin/*
ini/*
lib/*
share/*
build*
!builds.ini
ctags.txt
reggie_run/
doc/userguide/userguide.pdf
src/commit.h

# Documentation/Sphinx
_build/
